* {
	margin: 0;
	padding: 0;
}

.navigation-wrappper {
	position: fixed;
	width: 100px;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

.ul-main-app {
	flex-direction: column;
	padding: 10px;
	list-style: none;
}

.li-main-app {
	margin: 50px 0;
}
