.wrapper-nav-admin {
	position: fixed;
	background-color: #091620;
	color: #feffff;
	width: 100%;
	padding: 0 50px;
}

.nav-admin {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.nav-admin-li {
	margin: 0 15px;
}

.nav-admin-li a {
	text-decoration: none;
	color: #feffff;
}

.btn-goto-web {
	padding: 5px 10px;
	border: 0;
	border-radius: 5px;
}

.nav-admin-li a:hover:not(.active) {
	color: antiquewhite;
}

.active {
	color: darkorange;
}

.left {
	display: flex;
	align-items: center;
}
